footer {
    padding-top: 120px;
}

.ftr-middle {
    border-top: 1px solid #29486e;
    border-bottom: 1px solid #29486e;
}

.ftr-middle .fw-bold::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    width: 23px;
    height: 20px;
    background-image: url("/icons/paw.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateX(-100%);
    opacity: 0.8;
}

.ftr-middle a {
    opacity: 0.8;
}

.ftr-middle a:hover {
    opacity: 1;
}